<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <%for(var item of post){%>
        <%console.log("search="+item)%>
        <li><%=item.content%></li>    
    <%}%>
    
</body>
</html>